
%li{:class => "job-post-listing"}
  %div.single-post-container
    %div{:class => "inline-block job-title-container inline-block"}
      = posting.headline

    %div{:class => "image-like-post-container inline-block"}
      = image_tag posting.avatar   
    %div{:class => "job-filter-description-container col-md-12"}
      = posting.description
      %ul
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 FUNCTION
          %div.filter-option-selected
            %p= posting.job_type
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 INDUSTRY
          %div.filter-option-selected
            %p= posting.industry     
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 REGION
          %div.filter-option-selected
            %p= posting.region
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 MARKET CAP
          %div.filter-option-selected
            %p= posting.market_cap
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 OWNERSHIP
          %div.filter-option-selected
            %p= posting.ownership   
  %div{:class => "timestamp-container col-md-12"}
    %div{:class => "timestamp"}
      Posted
      = time_ago_in_words(posting.created_at)
      ago.
