<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="all-post-container">
      <% if can? :create, Posting %>
        <div class="navbar-right nav navbar-nav header-nav">
          <button class="btn btn-default"><%= link_to "+ New Posting", new_posting_path %></button>
        </div>
      <% end -%>
      <h4><%= @postings.count %> Postings</h4>
      <%= render partial: "posting", collection: @postings %>
    </div>
  </tbody>
</table>

<br>

<% if can? :create, Posting %>
  <%= link_to 'New posting', new_posting_path %>
<% end %>

<div class="col-md-12"><%# debug @postings.inspect %></div>

<%= link_to "Recruiter Signup", recruiters_sign_up_path %>