<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <div class="left-content-container col-md-9">
      <div class="all-post-container">
        <div class="navbar-right nav navbar-nav header-nav">
          <% if current_user.candidate! %>
            <button class="btn btn-default"><%= link_to "+ New posting", new_posting_path %></button>
          <% end %>
        </div>
        <h4><%= @postings.count %> Businesses</h4>
        <%= render partial: "posting", collection: @postings %>
      </div>
    </div>
    <div class="right-content-bar col-md-3">
      <div class="sidebar-all-post-container">
        <h5 class="filter-option-header">HIRING ON LEAD5</h5>
        <%- @recent_companies.each do |company| -%>
          <li >
            <div class="mini-single-post-container">
              <div class="job-side-container">
                <div class = "inline-block inline-block left-img col-md-3">
                  <%= image_tag company.avatar.url %>
                </div>
                <div class="right-mini-content inline-block col-md-9">
                  <div class ="job-title-text">
                    <h5><%= company.name %></h5>
                  </div>
                  <div class="mini-description">
                    <p>This is a mini-description</p>
                  </div>

                </div>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </tbody>
</table>

<br>
