<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>

<div><%= @posting.headline %></div>
<%= link_to (@posting[:id]), new_posting_path %>
<%= debug @posting %>