<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <div class="left-content-container col-md-9">
      <div class="all-post-container">
        <div class="navbar-right nav navbar-nav header-nav">
          <button class="btn btn-default"><%= link_to "+ New Company", new_company_path %></button>
        </div>
        <h4><%= @companies.count %> Companies</h4>
        <%= render partial: "company", collection: @companies %>
      </div>
    </div>
    <div class="right-content-bar col-md-3">
      <div class="all-post-container">
        <%- @recent_companies.each do |company| -%>
          <%= image_tag(company.avatar.small_avatar) %>
        <% end %>
      </div>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

<%= debug @companies.inspect %>
<%= debug current_user.companies.inspect %>