%div.company-description-header-container
  %li{:class => "job-post-listing"}
    %div{:class => "header-content col-md-10 col-md-offset-1"}
      %div{:class => "left-content col-md-3"}
        = image_tag @company.avatar.url    
        %button{:class => "work-here-button btn"}
          I WORK HERE
      %div{:class =>"center-content col-md-6"}
        %div{:class => "inline-block job-title-container inline-block"}
          = @company.name
      %div{:class => "right-content col-md-3"}    
    %div{:class => "job-filter-description-container col-md-12"}
      %ul{:class => "col-md-10 col-md-offset-1"}
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 FUNCTION
          %div.filter-option-selected
            %p= @company.function
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 INDUSTRY
          %div.filter-option-selected
            %p= @company.industry     
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 REGION
          %div.filter-option-selected
            %p= @company.region
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 MARKET CAP
          %div.filter-option-selected
            %p= @company.market_cap
        %li{:class => "filter-container"}
          %div.filter-option-header
            %h5 OWNERSHIP
          %div.filter-option-selected
            %p= @company.ownership   
  %div{:class => "job-description-container col-md-10 col-md-offset-1"}
    = @company.description