<header class="navbar navbar-fixed-top app-header">
  <div class="primary-nav">
    <nav>
      <ul class="nav navbar-nav header-nav col-md-8">
        <li> <%= link_to "Lead 5", root_path %></li>
        <li> <%= link_to "Jobs", postings_path %></li>
        <li> <%= link_to "News", root_path %></li>
        <li> <%= link_to "Companies", companies_path %></li>
        <li> <%= link_to "Recruiters", root_path %></li>
        <li> <%= link_to "log out", destroy_user_session_path, :method => :delete %></li>
      </ul>
      <div class="navbar-right nav navbar-nav header-nav">
        <%= link_to current_user, edit_user_registration_path %>
        <button class="btn btn-default"><%= link_to "+ New Post", new_posting_path %></button
      </div>
    </nav>
  </div>
</header>